{% extends 'usuarios/base.html' %}
{% load static %}

{% block title %}{{ page_title|default:"Dashboard - Bienvenida" }}{% endblock %}

{% block navigation_items %}
<ul class="navbar-nav">
    {% if user.is_authenticated %}
    <li class="nav-item">
        <a class="nav-link {% if request.resolver_match.url_name == 'reservations:list' %}active{% endif %}" 
           href="{% url 'reservations:list' %}">
            Reservas
        </a>
    </li>
    {% endif %}
</ul>
{% endblock %}

{% block content %}
<div class="w-100">
    <div class="row g-0">
        <div class="col-md-12 p-0" role="main">
            {% block contentVista %}
            <div class="row g-0">
                {% block dashboard_content %}{% endblock %}
            </div>
            {% endblock %}
        </div>
    </div>
</div>
{% endblock %}